<ion-header>
    <ion-toolbar>
        <ion-title>detailEvent</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img src="../../assets/img/imgislap.jpg.jpg" />
        <ion-card-header>
            <ion-card-subtitle>Education</ion-card-subtitle>
            <ion-card-title>Rémise de diplôme</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Tous les ans l'IME organise une cérémonie de remise des diplôme pour les etudiant ingénieurs de derniere années. cette cérémonie a lieu 14 42.
        </ion-card-content>
    </ion-card>
</ion-content>