<div class="footer-clean">
    <footer>
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-sm-12 mb-2  col-md-6 col-xl-3 col-lg-3 col-xs-12 item">
                    <h3 class="mb-3 font-16 font-weight-bold text-blue text-uppercase">{{'school_name' | translate}}</h3>
                    <ul>
                        <li class="py-1"><a routerLink='/'>{{'courses' | translate}}</a></li>
                        <li class="py-1"><a routerLink='/'>{{'our_values' | translate}}</a></li>
                        <li class="py-1"><a routerLink='/'>{{'our_mission' | translate}}</a></li>
                        <li class="py-1"><a routerLink='/'>{{'our_vision' | translate}}</a></li>
                        <li class="py-1"><a routerLink='/'>{{'school_experience' | translate}}</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 mb-2 col-md-6 col-xl-2 col-lg-2 col-xs-12 item">
                    <h3 class="mb-3 font-16 font-weight-bold text-blue text-uppercase">{{'schools' | translate}}</h3>
                    <ul>
                        <li class="py-1"><a routerLink='/'>{{'gbsp' | translate}}</a></li>
                        <li class="py-1"><a routerLink='/'>{{'cobilape' | translate}}</a></li>
                        <li class="py-1"><a routerLink='/'>{{'islape' | translate}}</a></li>
                        <li class="py-1"><a routerLink='/'>{{'acad_cal' | translate}}</a></li>
                        <li class="py-1"><a routerLink='/'>{{'extra_school_activities' | translate}}</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 mb-2 col-md-6 col-xl-3 col-lg-3 col-xs-12 item">
                    <h3 class="font-16 mb-3  font-weight-bold text-blue text-uppercase">{{'contact' | translate}}</h3>
                    <ul>
                        <li class="py-1"><a routerLink='/'>{{'email' | translate}} : info@laperle-sup.com</a></li>
                        <li class="py-1"><a routerLink='/'>{{'tel' | translate}} : (+237) 658 093 470</a></li>
                        <!-- <li><a routerLink='/'>{{'tel' | translate}} : (+237) 677 737 734</a></li> -->
                        <li class="py-1"><a routerLink='/'>{{'post_office' | translate}} : 760 Douala - République du Cameroun</a></li>
                        <li class="py-1"><a routerLink='/'>{{'web' | translate}}: www.laperle-sup.com </a></li>
                        <li class=" text-justify mt-2"><a class="text-justify" routerLink='/'>{{'address' | translate}} : {{'address_dla'| translate}}</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 mb-2 col-md-6 col-xl-2 col-lg-2 col-xs-12 item">
                    <h3 class="mb-3 font-16 font-weight-bold text-blue text-uppercase">LINKS</h3>
                    <ul>
                        <li class="py-1"><a routerLink='/'>Job openings</a></li>
                        <li class="py-1"><a routerLink='/'>Employee success</a></li>
                        <li class="py-1"><a routerLink='/'>Benefits</a></li>
                    </ul>
                </div>

                <div class="col-sm-12 mb-2 col-md-6 col-xl-2 col-lg-2 col-xs-12 item">
                    <h3 class="mb-3 font-16 font-weight-bold text-blue text-uppercase">ACTU</h3>
                    <div class="row">
                        <div class="col-12 rounded-style text-white  px-0">
                            <span> <fa name="flag" size="1x"></fa> </span>
                            <span> <a href="#">{{'campus_life' | translate}} </a> </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 rounded-style text-white  px-0">
                            <span> <fa name="briefcase" size="1x"></fa> </span>
                            <span> <a href="#">{{'career' | translate}}</a> </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 rounded-style text-white  p-0">
                            <span> <fa name="book" size="1x"></fa> </span>
                            <span> <a href="#">{{'prospectus' | translate}}</a> </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 rounded-style text-white  p-0">
                            <span><fa name="calendar" size="1x"></fa></span>
                            <span> <a href="#">{{'events' | translate}}</a></span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row py-4">
                <div class="col-xl-4 col-lg-4 col-xs-12 col-sm-12 col-md-12 d-flex justify-content-center">
                    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-5" role="group" aria-label="First group">
                            <a href="https://www.facebook.com/" class="btn px-4 mx-1 bc-black newscard2 btn-secondary">
                                <fa name="facebook-f"></fa>
                            </a>

                            <a href="https://twitter.com/laperlesup" class="btn  px-4 mx-1  bc-black newscard2  btn-secondary">
                                <fa name="twitter"></fa>
                            </a>
                            <a href="https://www.instagram.com/laperlesup/" class="btn  px-4 mx-1  bc-black newscard2   btn-secondary">
                                <fa name="instagram"></fa>
                            </a>
                            <a href="https://twitter.com/laperlesup" class="btn  px-4 mx-1  bc-black newscard2 btn-secondary">
                                <fa name="linkedin"></fa>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-xs-12 col-sm-12 col-md-12 d-flex justify-content-center">
                    <form class="form-inline">
                        <div class="form-group">
                            <h5 class="text-uppercase text-blue">{{'search_course' | translate}}</h5>
                        </div>
                        <div class="form-group mx-sm-3">
                            <input type="password" class="form-control form-control-sm" id="inputPassword2" placeholder="Course Name">
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary newscard1  bg-blue"><fa name="search"></fa></button>
                    </form>
                </div>
            </div>
            <div class="row d-none d-md-block py-3">
                <div class="col-12 d-flex justify-content-center">
                    <ul class="list-group list-group-horizontal ">
                        <li class="list-group-item bg-transparent"><a [routerLink]="[ '/path', routeParam ]">Accessibility</a></li>
                        <li class="list-group-item bg-transparent"><a [routerLink]="[ '/path', routeParam ]">{{'terms' | translate}}</a></li>
                        <li class="list-group-item bg-transparent"><a [routerLink]="[ '/path', routeParam ]">{{'privacy' | translate}}</a></li>
                        <li class="list-group-item bg-transparent"><a [routerLink]="[ '/path', routeParam ]">Contact Us</a></li>
                        <li class="list-group-item bg-transparent"><a [routerLink]="[ '/path', routeParam ]">{{'cookie_policy' | translate}}</a></li>
                        <li class="list-group-item bg-transparent"><a [routerLink]="[ '/path', routeParam ]">Support</a></li>
                        <li class="list-group-item bg-transparent"><a [routerLink]="[ '/path', routeParam ]">FAQs</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <button onclick="topFunction()" id="topBtn" title="Go to top">Top</button>
</div>
<script>
    //Get the button
    var mybutton = document.getElementById("topBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>