<ion-tabs>

    <ion-tab-bar slot="bottom" color="primary">

        <ion-tab-button tab="events">
            <ion-icon name="analytics"></ion-icon>
            <ion-label>Evenements</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="best-places">
            <ion-icon name="beer"></ion-icon>
            <ion-label>Lieux Chics</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="my-events">
            <ion-icon name="person"></ion-icon>
            <ion-label>Mes Pubications</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>