<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>Douala Events</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" [routerLink]="['/tabs']">
               <ion-icon slot="start" [name]="'home'"></ion-icon>
               <ion-label>
                 Accueil
               </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" [routerLink]="['/login']" *ngIf="!isAuth">
               <ion-icon slot="start" [name]="'log-in'"></ion-icon>
               <ion-label>
                 Connection
               </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" [routerLink]="['/register']" *ngIf="!isAuth">
               <ion-icon slot="start" [name]="'sync'"></ion-icon>
               <ion-label>
                 Inscription
               </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" [routerLink]="['/profile']" *ngIf="isAuth">
               <ion-icon slot="start" [name]="'person'"></ion-icon>
               <ion-label>
                 Profile
               </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="onLogout()" *ngIf="isAuth">
               <ion-icon slot="start" [name]="'log-out'"></ion-icon>
               <ion-label>
                 Deconnection
               </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
