<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>Lieux Chics de Douala</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item href="#">
        <ion-icon name="wine" slot="start"></ion-icon>
        <ion-label>Classico</ion-label>
    </ion-item>
    <ion-item href="#">
        <ion-icon name="wine" slot="start"></ion-icon>
        <ion-label>Santa Lucia Bonamoussadi</ion-label>
    </ion-item>
    <ion-item href="#">
        <ion-icon name="wine" slot="start"></ion-icon>
        <ion-label>Paja center</ion-label>
    </ion-item>
    <ion-item href="#">
        <ion-icon name="wine" slot="start"></ion-icon>
        <ion-label>Las Vegas</ion-label>
    </ion-item>
    <ion-item href="#">
        <ion-icon name="wine" slot="start"></ion-icon>
        <ion-label>Classico</ion-label>
    </ion-item>
    <ion-item href="#">
        <ion-icon name="wine" slot="start"></ion-icon>
        <ion-label>Santa Lucia Bonamoussadi</ion-label>
    </ion-item>
    <ion-item href="#">
        <ion-icon name="wine" slot="start"></ion-icon>
        <ion-label>Paja center</ion-label>
    </ion-item>
    <ion-item href="#">
        <ion-icon name="wine" slot="start"></ion-icon>
        <ion-label>Las Vegas</ion-label>
    </ion-item>
</ion-content>